[mysqld]

#
# * Basic Settings
#
user					= root
pid-file				= /run/mysqld/mysqld.pid
socket					= /run/mysqld/mysqld.sock
port					= 3306
basedir					= /var/lib/mysql
datadir					= /var/lib/mysql/inception
tmpdir					= /tmp
lc-messages-dir			= /usr/share/mysql
bind_address			= 0.0.0.0

#
# * Query Cache Configuration
#
query_cache_size		= 16M

#
# Error log - should be very few entries.
#
log_error				= /var/log/mysql/error.log

#
# * Character sets
#

character-set-server	= utf8mb4
collation-server		= utf8mb4_general_ci